h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 150px;
}
body{
    background-color:wheat; 
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large; 
    max-width: 600px;
    margin-left: 150px;
    margin-right: 150px; 
    padding: 0 20px;
     
}

footer{
    color: gray;
    font-family: 'Times New Roman', Times, serif;   
    
}
header{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    
    
}
header a{
    color: black;
    margin-right: 18px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
input{
    padding: 10px;
    border: 1px solid brown;
}
button{
    cursor: pointer;
    padding: 10px;
    border: 1px solid rgb(106, 172, 168);
    color: aliceblue;
    background-color: rgb(134, 98, 98);
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
