<!DOCTYPE html>
<html>
    <head>
        <title>404 error</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        
        
        <br>
        <p>{{errormgs}}</p>
        <br>
        {{>footer}}



    </body>
</html>